*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: rgb(195, 179, 155);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: none;

}

h2{
    padding-top: 1rem;
    padding-bottom: 0.7rem;
}
table{
    border-collapse: collapse;
    width: 100%;
    
}

table, th, td{
    border: 2px solid;

}
ul{
    padding-left: 1rem;
}
p{
    padding-top: 10px;
    padding-bottom: 5px;
}
main{
    background-color: rgb(174, 166, 155);
    padding-left: 5rem;
    padding-right: 5rem;
}

footer{
    
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer p{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
header li{
    padding-right: 2rem;
    padding-top: 10px;
}
a{
    color: rgb(159, 95, 95);
}
td{
    text-align: center;
}
#last_ul{
    padding-bottom: 2rem;
}
img{
    border-radius: 50%;
    width: 80px;
    height: 60px;
}
h1{
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 30px;
    padding-bottom: 3rem;
}